.question-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 30px;
}

.question-page-header{
    color: white;
    margin: 0;
}

.comment-list-container{
    display: flex;
    flex-direction: column;
    width: 1000px;
    border: 1px solid white;
    max-height: 500px;
    overflow-y: auto;
    margin: 20px;
}

.comment-div{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: #b4b4b4;
    color: black;
}

.add-comment-button{
    background-color: #3d3d3d;
    border: 2px solid white;
    color: white;
    height: 40px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.add-comment-button:hover{
    box-shadow: 0 0 5px white;
}

.comment-form{
    display: flex;
    flex-direction: column;
    width: 600px;
}

.comment-form-field_row{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.comment-form-field_row label{
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: 600;
    font-size: 20px;
}

.comment-form-field_row textarea{
    height: 100px;
    padding: 10px;
    font-size: 16px;
}

.rating-label{
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 20px;
}

.comment-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.comment-action-button{
    font-size: 16px;
    background-color: #3d3d3d;
    border: 1px solid black;
    color: white;
    padding: 3px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.comment-edit-button{
    background-color: #2a6449;
    margin-right: 10px;
}

.comment-edit-button:hover{
    background-color: #3c7a5d;
}

.comment-delete-button{
    background-color: #611d1d;
}

.comment-delete-button:hover{
    background-color: #772a2a;
}


.comment-action-group{
    margin-top: 5px;
    display: flex;
}

.comment-username{
    font-size: 20px;
    font-weight: 600;
}
