.footer-container{
    /* width: 100vw; */
    height: 100px;
    bottom: 0;
    background-color: #474747;
    box-sizing: border-box;
    border-top: 5px solid black;
}

.profile-pic{
    border-radius: 1.75em;
    height: 90px;
    width: 90px;
}
