.splash-container{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

.splash-info{
    flex: 1;
    margin-left: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.attribute-link{
    color: white;
}

.dungeon-door-bg{
    margin-left: 120px;
    height: 500px;
    width: 700px;
}

.trivia-header{
    font-size: 40px;
    font-family: 'Source Sans Pro', sans-serif;
}
