.splash-container{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

.splash-info{
    flex: 1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.attribute-link{
    color: white;
}

.dungeon-door-bg{
    /* margin-left: 120px;
    height: 500px;
    width: 700px; */
    margin-right: 5vh;
    margin-left: 5vh;
    height: 60vh;
    width: 80vh;
}

.trivia-header{
    font-size: 60px;
    font-family: 'Source Sans Pro', sans-serif;
}

.trivia-subheader{
    font-size: 30px;
}

.trivia-options{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.splash-button{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #664739;
    border: 2px solid white;
    color: white;
    height: 60px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
}

.splash-button:hover{
    box-shadow: 0 0 20px rgb(231, 188, 68);
}
