.room-page{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.message-box{
    background-color: thistle;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.message-log{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    flex: 1;
}

.message-row{
    width: 100%;
    text-align: start;
}

.room_trivia-container{
    height: 400px;
    width: 600px;
    background-color: teal;
    display: grid;
    grid-template-columns: 10em auto 10em;
    grid-template-rows: 1fr;
}
