.questions-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.loading-questions{
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.loading-failed{
    text-align: center;
    color: red;
    font-size: 24px;
    font-weight: 600;
}

.question-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    width: 90%;
    height: 500px;
    margin-top: 30px;
    background-color: #969696;
}
